*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}


nav{
    padding: 0 5px;
    background-color: black;
}


nav ul{
    list-style-type: none;
}


nav ul li{
    display: inline-block;
    padding: 5px;
}


nav ul li a{
    color: yellow;
    font-size: 45px;
    text-decoration: none;
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    transition: 1s;
}


nav ul li a:hover,
nav ul li a.active{
    background-color: red;
}



h1{
    padding: 6px;
    font-size: 60px;
}